@charset "utf-8";

*,
*::before,
*::after{
	box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,figure,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

html{
	font-size: 62.5%;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

textarea{
	resize: none;
}

/*clearfix-------------------------------*/

.clearfix:after {
	content:"";
	display:block;
	clear:both;
}